doctype html
html
	head
	block header
		
	body#feed
		//-Sidebar
		.ui.thin.inverted.vertical.sidebar.menu
			.ui.dropdown.item
				i.pin.basic.icon
				|Posts
				.menu
					a.item(href='/manage-posts')
						i.open.folder.icon
						|&nbsp;All Posts
					a.item(href='/new-post')
						i.add.icon
						|&nbsp;Add New
					a.item(href='/tags')
						i.tags.icon
						|&nbsp;Tags
			.ui.dropdown.item
				i.docs.basic.icon
				|Pages
				.menu
					a.item(href='/manage-pages')
						i.text.file.icon
						|&nbsp;All Pages
					a.item(href='/new-page')
						i.add.icon
						|&nbsp;Add New
		.ui.celled.grid
			block content
		block script