extends layout
block header
	include ../includes/standard_head
	//-MarkDown Editor
	link(rel='stylesheet' href='/uikit/css/uikit.css')
	script(src='/uikit/js/uikit.min.js')
	//-Codemirror and marked dependencies 
	link(rel='stylesheet', href='/uikit/codemirror/lib/codemirror.css')
	script(src='/uikit/codemirror/lib/codemirror.js')
	script(src='/uikit/codemirror/mode/markdown/markdown.js')
	script(src='/uikit/codemirror/addon/mode/overlay.js')
	script(src='/uikit/codemirror/mode/xml/xml.js')
	script(src='/uikit/codemirror/mode/gfm/gfm.js')
	script(src='/uikit/marked.js')
	//- Markdown Area JavaScript and CSS 
	script(src='/uikit/markdownarea/markdownarea.js')
	link(rel='stylesheet', href='/uikit/markdownarea/markdownarea.css')


	

block content
	.seven.wide.middle.column
		.ui.right.floated.black.launch.button
			i.list.layout.icon
			|&nbsp;Menu
		h2.ui.header
			|&nbsp;#{page_title} &nbsp;&nbsp;
			.ui.mini.teal.button.add.new
				i.add.icon
				|Add new

		block sevenCol
	.nine.wide.right.column
		block nineCol