extends layout
block header
	include ../includes/manage_post_head

block content
	.seven.wide.middle.column
		.ui.right.floated.black.launch.button
			i.list.layout.icon
			|&nbsp;Menu
		h2.ui.header
			i.inbox.icon
			|&nbsp;Inbox
		block sevenCol
	.nine.wide.right.column
		block nineCol