html{
	overflow: hidden;
}
body{
  background: #FAFAFA;
  overflow: hidden;
}
.ui#text-input{
	width: 100%;
	height:inherit;
	display: inline-block;
	background: #FAFAFA;
	resize: none;
	border: none;
	outline: none;
	font-size: 13pt;
	overflow-y: auto;

}
.ui#preview{
	display: none;
	width: 100%;
	height: inherit;
	overflow-y: auto;
}

.ui.right.control.block{
	float:right;

}
.ui.left.control.block{
	float:left;
	padding-top: 2px;
}
.ui.left.control.block i:hover{
	opacity: 0.25;
}
.ui.left.control.block i:hover{
	opacity: 1;
}
.ui.editor{
	clear:both;
	padding: 1em 2em 1em 1em;
	width: 100%;
	height:84%;
	
}
h1#title:empty:before {
	content:"Enter Title Here";
	opacity: 0.5;
}
